body {
    background: #d3cce3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f3f3f3, #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f3f3f3, #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2,
h3 {
    margin-top: 1em;
}

* {
    text-align: center;
}

#total,
#new,
#percentage {
    color: green;
    font-size: xx-large;
    font-weight: 700;
}

#main {
    transition: 0.5s;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#loading-inner {
    background: rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.29);
    pointer-events: all;
}

header {
	background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: white;
	padding: 0.5rem;
	padding-bottom: 1rem;
}

footer {
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	margin-top: 2rem;
	padding: 1rem;
}

footer a {
	color: white;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    filter: blur(15px);
}

.background-loading {
    filter: blur(5px);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}